<head>
    <title>Survey</title>
    <%= javascript_include_tag asset_path('survey_script.js') %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="form">
                <%= form_tag("/start", method: "get", validates: true) do %>
                    <%= hidden_field_tag("index", @passage.number + 1) %>
                    <%= hidden_field_tag("place", @passage.derivation) %>
                    <%= hidden_field_tag("time_spent", 0, id: "timeIn")%>
                    <%= hidden_field_tag("chain", @chain) %>
                    <%= text_area_tag("passage", @passage.text, class: "form-control", id: "passage", disabled: true) %>
                    <%= text_area_tag("input", "", class: "form-control", id: "input", placeholder: "Type the news story here") %>
                    <div class="form-group" id="submit">
                        <%= submit_tag("Next", disabled: true, class: "btn btn-primary", id: "submitButton") %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</body>

<style>
#submit {
	float: right;
}
#submitButton {
    width: 50px;
    height: 30px;
	background-color: #339966;
	color: #FFF;
}
#passage, #input {
    margin-top: 15px;
    margin-bottom: 15px;
}
#passage {
    height: 25em;
    font-size: 300%;
    color: black;
}
#passage:disabled {
    color: black;
}
#input {
    display: none;
    height: 0em;
    font-size: 150%;
}
</style>